.logodiv {
    text-align: center;
}

.titlex {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.list {
    padding-left: 25px;
    padding-right: 25px;
    height: 30px;
    cursor: pointer;
}

.postname {
    float: left;
}

.posttime {
    float: right;
}

.logopng {
    width: 200px;
}

.breadcrumb {
    padding: 8px 15px;
    list-style: none;
    background-color: initial;
    border-radius: 0px;
    text-align: center;
}

.jing {
    color: #6d9ee7;
}

.logot {
    font-weight: bold;
    font-size: 24px;
    margin-top: -10px;
    margin-bottom: -20px;
}

.logot .logo_1{
    color: #888888;
}

.logot .logo_2{
    color: #6d9ee7;
}

.logot .logo_3{
    color: #be8355;
}

.navd {
    padding-top: 14px;
}

.headt {
    border-bottom: 1px solid #efefef;
    height: 50px;
}

.fh {
    top: 24px;
    position: absolute;
}

hr{
    border-color: #58606b;
}

.post-div{
    text-align: center;
    margin-top: 30px;
}
.post-nav {
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}
.post-nav {
  display: table;
  margin-top: 15px;
  width: 100%;
  border-top: 1px solid #eee;
}
.post-nav {
  padding: 8px 15px;
  list-style: none;
  background-color: initial;
  border-radius: 0px;
  text-align: center;
}
.post-nav>li {
  display: inline-block;
}
.post-nav>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "|";
}
.post-nav>.active {
  color: #777;
}
.post-nav-hr {
  margin-top: -15px;
  margin-bottom: -15px;
}


.btn {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  color: #222;
  background: #fff;
  border: 2px solid #222;
  text-decoration: none;
  border-radius: 0;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  line-height: 2;
}
.btn:hover {
  border-color: #222;
  color: #fff;
  background: #222;
}
.post-button {
  margin-top: 20px;
  margin-bottom: 30px;
}